.contentLi{
    border-bottom: 1px solid #D0C7E8;
    padding: 5px;
    margin-bottom: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #211543;
    cursor: default;
    list-style: none;

    display: flex;
    justify-content: start;
    gap: 5px;
    /* margin-bottom: 1rem; */
}