.loadingSpinner {
  --size: 20px;
  width: var(--size);
  height: var(--size);
  
  background-color: transparent;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-radius: 100%;
  animation: btn-spiner 0.8s linear infinite;
}

.loadingSpinner.small{
  --size: 15px;
}


.loadingSpinner.large{
  --size: 25px;
}

@keyframes btn-spiner {
  100% {
    transform: rotate(360deg);
  }
}
