@font-face {
  font-family: "novaSquare";
  src: url(./styles/fonts/NovaSquare-Regular.ttf);
}

@font-face {
  font-family: "dejavu-sans";
  src: url(./styles/fonts/dejavu-sans-webfont.ttf);
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}




body{
  min-height: 100vh;
  font-family: "dejavu-sans", sans-serif;
  background-color: #f9f8fc;
  color: #211543;


  

}


a, ul, li, span, button{
  font-family: "dejavu-sans", sans-serif;

}







