.retro-bonus-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: max-content;
  align-items: stretch;
  gap: 3rem;
  margin-top: 1.5rem;
  /* overflow-y: auto; */
  padding: 3rem;
  padding-right: 24px;
  padding-top: 2rem;
  padding-left: 0;
  /* height: 400px; */
  flex-grow: 1;

  background-color: #f9f8fc;
  min-height: 100vh;
  /* display: block; */
  justify-self: stretch;
}

.retro-bonus-card {
  background: #ffffff;
  box-shadow: 0px 3px 5px rgba(208, 199, 232, 0.05);
  border-radius: 15px;
  padding: 3rem 2rem;
  padding-bottom: 2.2rem;
  position: relative;

  min-height: 213px;
  overflow: hidden;
  border: 1px solid transparent;
  width: 300px;
  justify-self: stretch;
}
